:root {
  --clr-background-gradient: linear-gradient(90deg, rgba(191, 226, 205, 1) 0%, rgba(191, 226, 205, 1) 35%, rgba(86, 202, 221, 1) 100%);

  --clr-font-primary: #707070;

}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--clr-background-gradient);
  color: #707070;
  font-size: 16px;
}

h2 {
  font-size: 18px;
  font-weight: 400;
}

input,
main {
  width: clamp(200px, 100%, 300px);
  border-radius: 30px;
  color: #707070;
}

input {
  padding: 12px 54px 12px 20px;
  margin-top: 10px;
  font-size: 17px;
}

input:focus {
  outline: none;
}
img {
  width: 100%;
}



header {
  text-align: center;
  position: relative;
}

main {
  font-size: 18px;
  text-align: center;
  min-height: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 24px 16px;

  -webkit-box-shadow: 2px 10px 20px -3px rgba(112,112,112,0.55);
  -moz-box-shadow: 2px 10px 20px -3px rgba(112,112,112,0.55);
  box-shadow: 2px 10px 20px -3px rgba(112,112,112,0.55);
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: clamp(375px, 100%, 460px);
  margin: 140px auto;
  padding: 16px;
}

.warning-message {
  color: firebrick;
}


 /* Search Resullts */
.search-results {
  margin: 1px auto;
  background: #fff;
  width: clamp(200px, 100%, 300px);
  list-style: none;
  border-radius: 10px 10px 30px 30px;
}

.search-results li {
  padding: 8px;
  cursor: pointer;
}
.search-results li:not(:last-child) {
  border-bottom: 1px solid #e96e50;
}


.search-results li:hover {
  background-color: azure;
}

.no-matches {
  padding: 10px;
}


.degree-meter,
.cloudness-info,
.feels-like,
.humidity {
  width: 50%;
}

.degree-meter__text {
  font-size: 60px;
  font-weight: 100;
}

.cloudness-info__text {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 700;
}

.cloudness-info__max,
.cloudness-info__min {
  font-size: 14px;
}

.weather-image {
  margin: 16px auto;
  height: 110px;
  /* border: 1px solid blue; */
  border-radius: 50%;
  width: 40%;
}



.feels-like__degrees,
.humidity__percentages {
  font-size: 28px;
  font-weight: 100;
}

.feels-like__text,
.humidity__text {
  font-size: 12px;
  font-weight: 300;
}



  /* Utility Classes */

.flex-right {
  display: flex;
  justify-content: right;
}

.flex {
  display: flex;
}

.loading-spinner {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #707070; /* Blue */
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 0.5s linear infinite;

    position: absolute;
    top: 56px;
    right: 80px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



